#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "digital-dreamers", "sans-serif";
  font-size: 0.85rem;
}

@font-face {
  font-family: "digital-dreamers";
  src: url("./fonts/DigitalDreamers-jy99.ttf") format("truetype");
}

.container {
  max-width: 900px;
  text-align: center;
  border: 5px solid #303030;
  border-style: groove;
  margin-bottom: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.tables {
  display: flex;
  justify-content: center;
  gap: 0; /* Space between tables */
}

.table-main-header {
  background-color: black;
  padding: 0.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container h2 {
  border: 3px solid #303030;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

table {
  max-width: 100%;
  border: 3px solid #303030;
  table-layout: fixed;
}

table:first-child {
  border-bottom-left-radius: 1rem;
}

table:first-child tbody tr:last-child th {
  border-bottom-left-radius: 1rem;
}

table:last-child {
  border-bottom-right-radius: 1rem;
}

table:last-child tbody tr:last-child td {
  border-bottom-right-radius: 1rem;
}

th,
td {
  border: 2px solid #303030;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

th {
  background-color: #181818;
  font-weight: normal;
}

td {
  background-color: black;
  font-weight: bold;
}

.table-main-header {
  font-size: 1.1rem;
}

.nvidia thead tr th,
.amd thead tr th,
.intel thead tr th,
.generic tr th {
  background-color: black;
  font-weight: bold;
}

.table-main-header .nvidia,
.nvidia td {
  color: #76b900;
}

.table-main-header .amd,
.amd td {
  color: red;
}

.table-main-header .intel,
.intel td {
  color: #0068b5;
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 700px) {
  .container {
    max-width: 450px;
  }

  .tables {
    flex-direction: column;
    max-width: 100%;
  }

  table {
    max-width: 100%;
    margin-bottom: 0;
  }

  table:first-child {
    border-bottom-left-radius: 0;
  }

  table:first-child tbody tr:last-child th {
    border-bottom-left-radius: 0;
  }

  table:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  table:last-child tbody tr:last-child th {
    border-bottom-left-radius: 1rem;
  }

  table:last-child tbody tr:last-child td {
    border-bottom-right-radius: 1rem;
  }
}

@media only screen and (orientation: landscape) {
  th,
  td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
