#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "digital-dreamers", "sans-serif";
  font-size: 0.8rem;
}

@font-face {
  font-family: "digital-dreamers";
  src: url("./fonts/DigitalDreamers-jy99.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#title-header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 3rem;
  border: 3px solid gray;
  padding: 1rem;
  max-width: 550px;
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
}

#search-bar {
  font-family: inherit;
  font-size: large;
  padding: 1rem;
  margin: 2rem auto;
  width: 300px;
  max-width: 80%;
  border-radius: 1rem;
  border: 3px solid white;
  border-style: inset;
  background-color: rgba(0, 0, 0, 0.75);
}

.gpu-table {
  max-width: 500px;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(
    0,
    0,
    0,
    0.85
  ); /* Optional: dark background for contrast */
}

.gpu-table td,
.gpu-table th {
  color: white;
  border-color: rgba(
    68,
    68,
    68,
    0.25
  ); /* Optional: adjust border for dark mode */
}

.main-table-header {
  background-color: rgba(34, 34, 34, 0.3);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: "white";
}

.main-table-header,
.table-header {
  text-align: center;
  font-weight: bold;
}

.table-header {
  background-color: rgba(34, 34, 34, 0.5);
  text-decoration: underline;
}

.table-controls {
  display: flex;
  flex-direction: column;
}

.edit-input-field {
  font: inherit;
  width: 75%;
  padding: 0.5rem;
  margin: 0;
}

button {
  background-color: black;
  border: 1px solid gray;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
}

button:hover {
  background-color: #202020;
}

button:active {
  background-color: #303030;
  color: gray;
}

.nvidia thead th,
.nvidia td {
  color: #76b900;
}

.amd thead th,
.amd td {
  color: red;
}

.intel thead th,
.intel td {
  color: #0068b5;
}

@media only screen and (hover: none) and (pointer: coarse) {
  #root {
    padding: 1rem;
  }

  .gpu-table {
    max-width: 90%; /* Ensures labels take full width */
    margin-bottom: 2rem;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #root {
    width: 550px;
  }
}
